@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/* Colors */
:root {
    --primary-color: #a54340;
    --secondary-color: #f6eee2;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --body-color: #212529;
    --accent1-color: #c0a68e;
    --accent2-color: #3e332f;
    --accent3-color: #6b8c68;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-color);
}

a {
    color: #var(--info-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header styles */
header {
    background-color: var(--light-color);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--primary-color);  /* Using the primary color */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  /* Adding a subtle shadow for depth */
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  /* High z-index ensures the navbar stays above all other elements */
}

.hamburger {
    background-color: transparent; /* Removes default background */
    border: none; /* Removes default border */
    font-size: 28px; /* Makes the icon larger */
    color: #333; /* Default color; adjust as needed */
    cursor: pointer; /* Cursor changes to hand icon when hovering over the button */
    padding: 10px 15px; /* Some padding around the icon for a larger click area */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    
}

.hamburger:hover {
    background-color: #f0f0f0; /* Light gray background on hover; adjust as needed */
    color: #000; /* Darker text on hover */
}

.hamburger:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Adds a blue glow when the button is focused, useful for accessibility */
}

.hamburger-icon {
    justify-self: end;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; 

}

nav li a {
    font-size: 16px; /* Default font-size */
    transition: color 0.3s ease, font-size 0.3s ease;
    color: var(--light-color);
}

nav li a:hover {
    color: var(--accent2-color);  
}

nav li a::before {
    content: "";
    display: block;
    height: 0;  
    width: 100%;
    background-color: var(--light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.3s ease;
}

nav li a:hover::before {
    height: 3px;  
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

/* Mobile-first styles: hide the nav items by default */
#navItems {
    display: none;
    list-style-type: none;
    padding: 0;
}

#navItems li a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Display the navigation when .show class is added */
#navItems.show {
    display: block;
}

@media only screen and (min-width: 600px) {
    #navItems {
        display: flex;
    }
    
    #navToggle {
        display: none;
    }
}

/* Main styles */
main {
    padding: 0;
    background-color: var(--secondary-color);
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.hero {
    background-image: url(../images/header-bg.png);
    background-size: cover;  /* Cover the entire viewport */
    background-position: center;  /* Center the image */
    position: relative;  /* Establishes a stacking context for the overlay */
    height: 94vh;  /* Making it full screen height for a strong impact; adjust as needed */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .hero {
        background-position: 40% 50%;
    }
}

.hero::before {
    content: "";  /* Essential for pseudo-elements */
    position: absolute;  /* Absolute positioning relative to the hero section */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);  /* The primary color with 50% transparency */
    z-index: 1;  /* Ensures the overlay is above the background image but below the content */
}

.hero h1, .hero h2, .hero a {
    z-index: 2;  /* Above the overlay */
    position: relative;  /* Needed for z-index to take effect */
}

.hero-text {
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.hero-text a[href="#projects"] {
    display: inline-block;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #f2ddc7; /* Using the secondary color from the palette */
    color: #a54340; /* Using the primary color for the text */
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease; /* For smooth hover effects */
    font-family: 'roboto', sans-serif;
}

.hero-text a[href="#projects"]:hover {
    background-color: #a54340; /* Switching the colors on hover */
    color: #f2ddc7;
    transform: scale(1.05); /* Slightly enlarge the button on hover for emphasis */
}

.project-title {
    grid-column: 1 / span 3; /* This ensures the title spans across all three columns */
}

.projects {
    display: grid;
    background-color: var(--secondary-color);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 4rem;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    align-items: center;
    padding: 1rem;
}

.project-image {
    flex: 1;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.thumbnail {
    max-width: 300px;
    max-height: 300px;
}

.project-details {
    flex: 2;
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
    .project-title {
        grid-column: 1 / span 1; /* Adjust the title to span only one column on smartphones */
    }

    .projects {
        grid-template-columns: repeat(1, 1fr); /* Adjust the grid to have only one column on smartphones */
        padding: 2rem 1rem; /* Adjust the padding for smaller screens */
    }

    .thumbnail {
        max-width: 100%; /* Allow the image to take the full width of its container */
        max-height: auto; /* Adjust the maximum height to maintain aspect ratio */
    }
}

.about {
    position: relative;
    display: flex;
    background-color: var(--primary-color);
    background-image: url(../images/about.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--light-color);
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(165, 67, 64, 0.9);  
    z-index: 1;
}

.about * {
    position: relative;
    z-index: 2;
}

.about-image {
    display: flex;
    flex: 1;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}

.about-text {
    flex: 1;
    margin: 1rem;
    padding: 3rem;
    align-self: center;
    font-size: 1.1rem;
    line-height: 1.5;
}


.skill-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-header h2 {
    margin-bottom: 2rem;
    text-align: center;
}

#skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

#hard-skills, #soft-skills {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

#hard-skills h3, #soft-skills h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.skill {
    width: calc(50% - 10px); /* Taking into account the 10px gap */
    margin-bottom: 10px;
}

.skill p {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 5px;
}

.fill {
    height: 20px;
    background-color: #4CAF50;
    width: 0;
    border-radius: 5px;
    transition: width 1s ease;
}


#contact-me {
    padding: 0 4rem;
    background-color: var(--secondary-color);
}

.contact-icons {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.contact-icons li a {
    color: var(--primary-color);  /* Adjust color as needed */
    transition: color 0.3s ease;
}

.contact-icons li a:hover {
    color: var(--secondary-color);
}


footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Responsive Typography */
@media only screen (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
}